* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    border: 1px solid red;
    gap: 15px;


    .nav{
        height: 10vh;

    }


    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border: 2px solid green;
        background-color: antiquewhite;
        width: 100%;
        gap: 15px;
    }    

    .col {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 49%;
      border: 2px solid black;
      gap: 15px;

      @media (max-width: 1000px) {
        width: 100%;
      }
    }

    .items {
      height: 10vh;
      background-color: gainsboro;
      border: 1px solid red;
    }

    .item-1 {
      height: 25vh;
      background-color: gainsboro;
    }

    .item-2 {
      height: 25vh;
      background-color: gainsboro;
    }

    .left {
      background-color: gainsboro;
      height: 45vh;
    }

    .middle {
      width: 100%;
      height: 20vh;
      background-color: gainsboro;
      border: 1px solid black;
    }
  }
}

.grid-container {
position: relative;
  display: flex;
  justify-content: center;
  border: 2px solid yellow;
  width: 80%;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;


    border: 2px solid green;
    background-color: antiquewhite;
    width: 100%;
    gap: 15px;

    .item {
      height: 10vh;
      background-color: gainsboro;
      border: 2px solid red;
      border: 2px solid black;
    }
  }
}

