<div class="container">
  <div class="row">
    <div class="nav">
      <h1>The world of Grid!</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="left"></div>
    </div>

    <div class="col">
      <div class="items"></div>
      <div class="items"></div>
      <div class="items"></div>
      <div class="items"></div>
    </div>
  </div>
  <!--  Top row -->

  <div class="row">
    <div class="middle"></div>
  </div>
  <!--  middle row -->

  <div class="row">
    <div class="col item-1"></div>
    <div class="col item-2"></div>
  </div>
  <!--  Footer -->
</div>
<!--  the main conainer -->

<br /><br /><br />

<div class="container">
  <div class="row">
    <div class="grid">
      <div class="item item-1"></div>
      <div class="item item-1"></div>
      <div class="item item-1"></div>
      <div class="item item-1"></div>
      <div class="item item-1"></div>
      <div class="item item-1"></div>
      <div class="item item-1"></div>
      <div class="item item-1"></div>
      <div class="item item-1"></div>
      <div class="item item-1"></div>
      <div class="item item-1"></div>
      <div class="item item-1"></div>
      <div class="item item-1"></div>
      <div class="item item-1"></div> 
      <div class="item item-1"></div>
      <div class="item item-1"></div>
    </div>
  </div>
</div>
